
<h2> <%= @dentist.name %> Patient list</h2>
<% @patients.each do |patient| %>
    <h4>Patient No. <%=patient.id %></h4>
    <p>Name: <%=patient.name%></p>
    <p>Age: <%=patient.age%></p>
    <p>Insurance carrier <%=patient.insurance_carrier%></p>
    <p>Referred by: <%=patient.referred_by%></p>
    <p>Referred by anotherpatient: <%=patient.referred_by_another_patient%></p>
    <p>Dentist id: <%=patient.dentist_id%></p>

<% end %>
<%= link_to "New Patient","/dentists/#{@dentist.id}/patients/new" %>