
<h2> <%= @dentist.name %> Patient list</h2>
<% @patients.each do |patient| %>
<section id = "Patient-<%= patient.id %>"
 <h4><%=link_to "Patient No. #{patient.id}", "/patients/#{patient.id}" %></h4>
    <p>Name: <%=patient.name%></p>    
    <p>Age: <%=patient.age%></p>
    <p>Insurance carrier: <%=patient.insurance_carrier%></p>
    <p>Referred by: <%=patient.referred_by%></p>
    <p>Referred by another patient: <%=patient.referred_by_another_patient%></p>
    <p>Dentist id: <%=patient.dentist_id%></p>
    <%= link_to "Edit","/patients/#{patient.id}/edit" %>
    </section>
    <br><br>
<% end %>

<%= link_to "New Patient","/dentists/#{@dentist.id}/patients/new" %>
<%= link_to "Show Patients in Alphabetical Order","/dentists/#{@dentist.id}/patients?order=alpha" %>

<br><br>
<%= form_with url: "/dentists/#{@dentist.id}/patients", method: :get, local:true do |f|%>
    <%= f.label :show_patients_older_than %>
    <%= f.text_area :show_patients_older_than %>
    <%= f.submit "Submit" %>
<% end %>

