<h2>Patient information</h2>
    <h4>Patient No. <%=@patient.id %></h4>
    <p>Name: <%=@patient.name%></p>
    <p>Age: <%=@patient.age%></p>
    <p>Insurance carrier <%=@patient.insurance_carrier%></p>
    <p>Referred by: <%=@patient.referred_by%></p>
    <p>Referred by another patient: <%=@patient.referred_by_another_patient%></p>
    <p>Dentist id: <%=@patient.dentist_id%></p>
