<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/patients">All Patients</a>
    <a href="/dentists">All Dentists</a>
    <br>
    <%= yield %>
  </body>
</html>
