
<h2>Dentist List</h2>
<% @dentists.each do |dentist| %>

    <section id = "Dentist-<%= dentist.id %>"
    <p><%=link_to "#{dentist.name}", "/dentists/#{dentist.id}"%></p> 
     <p> Created on: <%=dentist.nice_date %></p>
    <p><%= link_to "Edit","/dentists/#{dentist.id}/edit" %>
    <%= link_to "Delete","/dentists/#{dentist.id}", method: :delete %></p> 
    <br>
    </section>
<% end %>

<%= link_to "New Dentist","/dentists/new" %>
<%= link_to "Show Dentists by Number of Patients","/dentists?order=patients_number" %>
<br><br>
<%= form_with url: "/dentists", method: :get, local:true do |f|%>
    <%= f.label :search_by_full_name%>
    <%= f.text_area :search_by_full_name%>
    <%= f.submit "Submit" %>
<% end %>