
<a href="/dentists/<%=@dentist.id%>/patients">Patients of <%=@dentist.name%></a>
<h2>Dentist information</h2>
    <p>Name: <%=@dentist.name%></p>
    <p>Max patient capacity: <%=@dentist.max_patient_capacity%></p>
    <p>Accepting new patient: <%=@dentist.accepting_new_patient%> </p>
    <p>Hours: <%=@dentist.hours%> </p>
    <p>Rating: <%=@dentist.rating%> </p>
    <p>Created at: <%=@dentist.nice_date%></p> 
    <p>Total number of patients: <%= @patient_count %></p>
<p><%= button_to "Edit", "/dentists/#{@dentist.id}/edit", method: :get%></p>
<p><%= button_to "Delete", "/dentists/#{@dentist.id}", method: :delete%></p>
