<%= render :partial =>'widgets/links' %>
<h2>Dentist information</h2>
    <p>Name: <%=@dentist.name%></p>
    <p>Max patient capacity: <%=@dentist.max_patient_capacity%></p>
    <p>Accepting new patient: <%=@dentist.accepting_new_patient%> </p>
    <p>Hours: <%=@dentist.hours%> </p>
    <p>Rating: <%=@dentist.rating%> </p>
    <p>Created at: <%=@dentist.created_at%></p> 
    <p>Updated at: <%=@dentist.updated_at%></p> 
    <p>Total number of patients: <%= @patient_count %></p>
<p><%= button_to "Edit", "/dentists/#{@dentist.id}/edit", method: :get%></p>